@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --ui-header-height: 120px;
  --ui-container: 90vw !important;

  --font-sans: "Nunito", system-ui, sans-serif;
  --font-display: "Nunito", sans-serif;
  --font-oswald: "Oswald", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  margin-bottom: 1rem;
}

.body a,
.rules-list a {
  text-decoration: underline;
}

.body a:hover,
.rules-list a:hover {
  font-weight: bold;
  color: var(--text-color-highlighted);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-oswald);
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}
